
140910Achim_hES_ribo.txt

S2_tcd_mTIFAnno.txt

sac_cer_yassour.gtf

covering-one-intact-orf

intergenic-trcpts

mTIF-anno-choco

mTIF-anno-headers

mTIF-anno-vanilla

overlap-3p-oneOrf

overlap-5p-oneOrf

mTIF-anno-vanilla-ypd

mTIF-anno-choco-ypd

mTIF-anno-choco-ypd1

mTIF-anno-vanilla-ypd1

*.gtf

*.gtf

*.gtf

*.gtf

*.bed

orphans

mTIF-exVanilla-ypd1

*.png
